<%- include('header.ejs') %> 
<% if (currentUser) {%>
  <h1><%= currentUser.username %>'s Drive</h1>
  <div class="folders">
    <h2>Folders</h2>
    <a href="/drive/new"><button>New Folder</button></a>
    <% if (folders) {%>
      <% let folderCount = 0 %>
      <% folders.forEach(folder => { %>
        <div class="folder">
          <b><%= folder.name %></b>
          <a href="/drive/edit/<%= folder.id %>"><button>Edit</button></a>
          <a href="/drive/delete/<%= folder.id %>"><button>Delete</button></a>
          <div class="files">
            <h3>Files</h3>
            <% folder.files.forEach(file => { %>
              <div class="file">
                <span><%= file.originalName %> </span>
                <span><%= file.size %> Bytes </span>
                <span><%= file.uploadTime %> </span>
              </div>
            <% }) %>
          </div>
          <h4>New File</h4>
          <form action="/drive/upload/<%= folder.id %>" method="post" enctype="multipart/form-data">
            <input type="file" name="avatar" />
            <button type="submit">Upload</button>
          </form>
        </div>
      <% }); %>
    <%}%>
  </div>
<% } else { %>
  <p>Please log in</p>
<% } %> 
<%- include('footer.ejs') %>
